.list-group-item {
  line-height: 2.5;
}

html {
  font-family: 'Cinzel', serif;
}

body {
  background: url(../img/GoT.png);
  background-size: cover;
  background-position: center;
  /* min-height: 1000px; */

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#theoryDiv {
  background: rgba(0, 0, 0, 0.493);
  min-height: 100px;
  padding: 15px;
}

#pollDiv {
  background: rgba(0, 0, 0, 0.493);
  /* height: 500px; */
  padding: 15px;
}

.trans {
  background: black;
  opacity: .8;
  height: 250px;
}

.sideNav {
  background: rgba(0, 0, 0, 0.397);
  /* background: black; */
}

.menuButton {
  color: #881414;
  margin-left: 15px;
}

.burgerButton {
  padding: 20px;
}

.gotTheoryLogo {
  font-size: 32px;
}

@media screen and (max-width: 670px) {
  .gotTheoryLogo {
    font-size: 26px;
  }
  
  .pollText {
    font-size: 18px;
  }

  .sideNav {
    background: black;
  }
}